@{
    ViewData["Title"] = "Home Page";
}
@*// dang làm*@
@model MVCT.DTO.TimeSheetsDTO // Thay thế YourModelNamespace và YourViewModel bằng namespace và tên ViewModel tương ứng của bạn
@*@using MVCT.Models*@


<div class="text-center">
    @* @{
    if (Model != null)
    {
    <h1>Thông tin thời gian làm việc</h1>
    <p>Giờ làm: @Model.TimeWork</p>
    <p>Nội dung công việc: @Model.WorkingContent</p>
    <p>Ngày tạo: @Model.CreatedDate.ToShortDateString()</p>
    }
    else
    {
    <p>Không có thông tin thời gian làm việc để hiển thị.</p>
    }
    }*@


    <h1>Danh sách Timesheets (user báo cáo công việc )</h1>

    <form asp-action="checkInTimeSheet" method="post" class="form-timesheets">
        <!-- Input chọn ngày -->
       @* <div class="form-group">
            <label for="SelectedDate">Chọn ngày:</label>
            <input type="date" class="form-control" id="SelectedDate" name="CreatedDate"  value="@Model.CreatedDate.ToString("yyyy-MM-dd")" />
        </div>*@

      @*  <div class="form-group">
            <label for="TimeWork">Giờ làm:</label>
            <input type="number" class="form-control" id="TimeWork" name="TimeWork" value="@Model.TimeWork" min="1" />
        </div>*@


        <!-- Ô input nhập nội dung công việc -->
        <div class="form-group">
            <label for="WorkingContent">Nội dung công việc:</label>
            <textarea class="form-control" id="WorkingContent" name="WorkingContent">@Model.WorkingContent</textarea>
        </div>
        <label>Giờ check out :</label>
        <input type="datetime-local" value="" id="selectedDateTime" name="TimeCheckout" readonly required>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var dateTimeField = document.getElementById("selectedDateTime");
                var currentDate = new Date();
                var year = currentDate.getFullYear();
                var month = String(currentDate.getMonth() + 1).padStart(2, '0');
                var day = String(currentDate.getDate()).padStart(2, '0');
                var hours = String(currentDate.getHours()).padStart(2, '0');
                var minutes = String(currentDate.getMinutes()).padStart(2, '0');
                var formattedDateTime = year + "-" + month + "-" + day + "T" + hours + ":" + minutes;
                dateTimeField.value = formattedDateTime;
            });
        </script>
        <!-- Nút gửi -->
        <button type="submit" class="btn btn-primary">Gửi</button>
    </form>
    <div class="box-list-timesheets">
        <h1>Các Ngày Đã Chấm</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>CheckIn</th>

                    <th>Giờ Đã làm</th>
                    <th>WorkingContent</th>
                    <th>Trạng Thái Duyệt</th>
                    <th>Giờ Check In</th>
                    <th>Giờ Check Out</th>

                </tr>
            </thead>
            <tbody>
                <!-- Hiển thị danh sách timekeepings -->
                @if (ViewBag.Timekeepings != null)
                {
                    foreach (var timekeeping in ViewBag.Timekeepings)
                    {
                        <tr class="line-user-chetout @(timekeeping.State == "Yes" ? "line-user-chetout-yes" : "line-user-chetout-no")">
                            <td>@timekeeping.Id</td>
                            <td>@(timekeeping.CheckIn ? "Đã Check in" : "Chưa Check in")</td>
                            <td>@timekeeping.TimeWork</td>
                            <td>@timekeeping.WorkingContent</td>
                            <td>@timekeeping.State</td>
                            <td>@timekeeping.CreatedDate.ToString("HH:mm:ss")</td>
                            <td>@(timekeeping.TimeCheckout != null ? timekeeping.TimeCheckout.ToString("HH:mm:ss") : "")</td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    @*niếu có lỗi thì nó sẽ hiển thị ở đây*@
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
    }

   
</div>