@{
    ViewData["Title"] = "Quản lý chấm công cho các user";
}
@model MVCT.DTO.TimeSheetsDTO;

<div class="text-center">
    <h5>Chào mừng đến với bảng chấm công cho nhân viên  ( người chấm công )</h5>

    <form class="select-date-TimeKeeping" id="dateForm" asp-action="GetUsersTimeKeeping" method="post">
        <label for="selectedDate">Chọn ngày:</label>
        <input type="date" style="padding: 5px" id="selectedDate" name="selectedDate" value="@(((DateTime?)ViewBag.selectedDate)?.ToString("yyyy-MM-dd"))" required>


        <button type="submit" class="btn btn-primary select-date-TimeKeeping-btn">Gửi</button>
    </form>
    @*// check date selected*@
    @if (TempData.ContainsKey("SelectedDate") && TempData["SelectedDate"] is DateTime selectedDate)
    {
        <p style="text-align: left;">Ngày đã chọn: @selectedDate.ToString("dd/MM/yyyy")</p>
    }
    @*// hiển thị danh sách user checkin trong ngay*@
    <table class="table">
        <thead>
            <tr>
                <th>Người Dùng</th>
                <th>CheckIn</th>

                <th>Giờ Đã làm</th>
                <th>WorkingContent</th>
                <th>Trạng Thái Duyệt</th>
                <th>Giờ Check In</th>
                <th>Giờ Check Out</th>

                <th>Duyệt</th>
                <th>Chỉnh sửa</th>

            </tr>
        </thead>
        <tbody>
            <!-- Hiển thị danh sách timekeepings -->
            @if (ViewBag.listUsersCheckIn != null)
            {
                foreach (var timekeeping in ViewBag.listUsersCheckIn)
                {
                    <tr id="@timekeeping.Id" class="line-user-chetout @(timekeeping.State == "Yes" ? "line-user-chetout-yes" : "line-user-chetout-no")">
                        <td>@timekeeping.UserName</td>
                        <td>@(timekeeping.CheckIn ? "Đã Check in" : "Chưa Check in")</td>
                        <td>@timekeeping.TimeWork</td>
                        <td>@timekeeping.WorkingContent</td>
                        <td>@timekeeping.State</td>
                        <td>@timekeeping.CreatedDate.ToString("HH:mm:ss")</td>
                        <td>@(timekeeping.TimeCheckout != null ? timekeeping.TimeCheckout.ToString("HH:mm:ss") : "")</td>


                        <td>
                            <button class="accept-checkout" onclick="hightLight(@timekeeping.Id)">
                                @(timekeeping.State == "Yes" ? "Bỏ duyệt" : "Duyệt")
                            </button>
                        </td>
                        <td><i class="fa-regular fa-pen-to-square" onclick="showAlterTimeSheetBox()"></i></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div id="alter-row-timesheet" class="alter-row-timesheet">
        <div class="fade-register-box" onclick="showAlterTimeSheetBox()"></div>
        <div class="context-fade-box">
            <label>Giờ check in</label>
            <input type="datetime-local" value="" id="selectedDateTime" name="dateCheckIn"  required>
            <label>Giờ check Out</label>
            <input type="datetime-local" value="" id="selectedDateTime" name="TimeCheckout"  required>

            <button type="submit">Yo</button>
        </div>
    </div>
    <!-- Trong View của bạn -->
    <button onclick="saveListAcceptCheckout('@ViewBag.managerCheckOut')">Oke Lưu Luôn</button>
    @*<button onclick="saveListAcceptCheckout()">Oke Lưu Luôn</button>*@

   
</div>

